*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}


.text-left{
    text-align:left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.full-website{
    background-color: #fff;
    width: 1200px;
    margin: auto;
}

/* header */

.header ul li {
	display: inline-block;
	padding: 10px;
	background-color: #ddd;
	margin: 15px;
}
.header ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/* banner-section */
.banner-section {
	margin: 90px 0;
}
.banner-section h1{
    color: #a52a2a;
    margin: 20px 0;
}
.banner-section p{
    max-width: 1100px;
    margin:auto ;
}

/* blog-section */
.blog-left-img{
    width: 30%;
    float: left;
}
.blog-left-img img{
    max-width: 100%;
}
.blog-right-content{
    width: 70%;
    float: right;
}


/* blog-right-conten */
.blog-centent h2 {
	background-color: #ddd;
	padding: 0 242px;
	font-size: 35px;
}

.blog-centent h3 {
	padding: 0 242px;
	margin-top: 15px;
	font-size: 24px;
	color: #a52a2a;
}
.blog-centent p{
    padding: 0 242px;
}
.service{
    padding: 0 242px;
}
.service h3{
    margin: 10px 0; 
}
.experience{
    padding: 0 242px;
}
.experience h3{
    margin: 10px 0; 
}

/* service-item-section */
.service-item-section{
    margin: 20px 0;
}
.service-item-section h2 {
	max-width: 100px;
	margin: auto;
	text-align: center;
	background-color: #ddd;
	padding: 10px;
	border: 1px solid #000;
}

/* service-item */
.services-items{
    width: 31.3%;
    float: left;
    background-color: #ddd;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px;
    box-sizing: border-box;
}

/* footer-section */
.footer-section{
    background-color: #ddd;
    margin: 20px 0;
    padding: 15px 10px;
    border-top: 2px solid #000;
    
}
